body{
    position: relative;
    margin:0px;
    background-image: url('../../assets/img/forest.jpg');
    background-attachment: fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.favicon{
    width:16px;
}
/* INICIO HEADER */
nav{
    background-color: white;
    position: fixed;
    width:100%;
    margin:0px;
    height: 46px;
    border-bottom:1px solid grey;
    z-index: 2;
    font-size: 13px;
    font-weight: bold;
}

li{
    list-style-type: none;
    display:inline-block;
    margin:0px 20px;
}

li a{
    text-decoration: none;
    color:teal;
}
#tuiter{
    float:right;
    margin-right:30px;
}

/* FIN HEADER */


/* INICIO BARRA IZQUIERDA*/

#leftbar{
    width:290px;
    border:1px solid transparent;
    float:left;
    margin:54px 20px 20px 48px;

}

#profile{
    width:290px;
    border:1px solid transparent;
}

#trending{
    height:500px;
    margin:10px 0px 0px 0px;
    border:1px solid white;
    background-color: white;
}

/* FIN BARRA IZQUIERDA*/

/* INICIO BARRA CENTRAL */

#centralbar{
    float:left;   
    text-align: center;
    border:1px solid transparent;
    margin-top:61px;
    width:590px;   
}

#bartuit{
    border:1px solid transparent;
    background-color: #cbeee5;
}

#message {
    width: 80%;
    height:5%;
    border:1px solid green;
    border-radius: 5px;
    display:block;
    clear:both;
    margin-left:50px;
    margin-top:10px;
    overflow: hidden;
    resize:none;
}

#showChar{
    width:10%;
    height:5%;
    border:1px solid transparent;
    border-radius: 5px;
    color:teal;
    margin:10px;
    position: relative;
    left:200px;
    z-index: 1;
    background-color: #cbeee5;
}

button{
    width:100px;
    display:block;
    float:right;
    clear:both;
    margin: 10px 50px;
    padding:10px;
    background-color: teal;
    border:none;
    border-radius: 20px;
    color:white;
}

.tuit{
    background-color: rgb(255, 255, 255);
    margin: 0px 0px 0px 0px;
    width:568px;
    border:1px solid transparent;
    padding: 10px;
    color:#000000;   
    text-align: left; 
}

hr{
    color:#E1E8EC;
    width:587px;
    border-top: 1px solid #E1E8EC;
    margin-left:-10px;

}

#name{
    color:teal; 
    font-weight: bold;
    float:left;
}

#date{
    color: gray;
    float:left; 
    padding-left: 5px;
}

#tuitP{
    margin-top:25px;
    overflow-wrap: break-word;

}

#timeline{
    margin:10px 0;    
}

/* FIN BARRA CENTRAL */



.timeline-InformationCircle-widgetParent{
    display: none;
}